.additionally {
  position: relative;
  margin-bottom: 18px;

  &::after {
    position: absolute;
    top: 14px;
    left: 50%;
    content: "";
    width: 50%;
    height: 2px;
    background-color: #68b738;
    z-index: -1;
  }
}

.additionally__group-title {
  width: 141px;
  margin-left: -20px;
  margin-bottom: 39px;
  padding: 0 20px;
  background-color: #ffffff;
}

.additionally__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.additionally__control {
  position: relative;
  display: block;
  margin-bottom: 18px;
  padding-left: 46px;
}

.additionally__control-mark {
  position: absolute;
  top: -4px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;

  &:hover {
    border: 1px solid #bababa;
  }
}

.additionally__input:checked + .additionally__control-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 14px;
  background: url("../img/checked.svg") no-repeat center;
}

.additionally__input:disabled + .additionally__control-mark {
  opacity: 0.3;
}

.additionally__input:focus + .additionally__control-mark {
  border: 1px solid #222222;
}

.additionally__input:disabled ~ .additionally__label {
  opacity: 0.3;
}

.additionally__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}


@media (min-width: @tablet-width) {
  .additionally {
    margin-bottom: 59px;

    &::after {
      top: 20px;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
    }
  }

  .additionally__group-title {
    padding: 0 40px;
    margin-left: -40px;
    margin-bottom: 60px;
    width: 215px;
  }

  .additionally__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    column-gap: 62px;
  }

  .additionally__control {
    padding-left: 59px;
    margin: 0;
  }

  .additionally__control-mark {
    width: 40px;
    height: 40px;
  }

  .additionally__label {
    font-size: 20px;
    line-height: 30px;
  }
}


@media (min-width: @desktop-width) {
  .additionally {
    margin-bottom: 65px;
  }

  .additionally__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
}
