.advantages {
  padding: 0 20px 53px;
}

.advantages__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}


.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  padding-left: 80px;
  margin-bottom: 26px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #68b738;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__item-first::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  width: 30px;
  height: 32px;
  background-image: url("../img/advantages-icon-1.svg");
  background-repeat: no-repeat;
}

.advantages__item-second::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  width: 29px;
  height: 31px;
  background-image: url("../img/advantages-icon-2.svg");
  background-repeat: no-repeat;
}

.advantages__item-third::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 18px;
  width: 32px;
  height: 33px;
  background-image: url("../img/advantages-icon-3.svg");
  background-repeat: no-repeat;
}

.advantages__item-fourth::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  width: 30px;
  height: 32px;
  background-image: url("../img/advantages-icon-4.svg");
  background-repeat: no-repeat;
}

.advantages__description-number {
  display: none;
}


@media (min-width: @tablet-width) {
  .advantages {
    padding: 0 30px 47px;
    border-bottom: 1px solid #e6e6e6;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 250px 250px;
    gap: 37px 135px;
  }

  .advantages__item {
    font-size: 16px;
    line-height: 24px;
    min-height: 280px;
    padding-top: 151px;
    margin: 0;
    box-sizing: border-box;

    &::before {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }

  .advantages__item-first::after,
  .advantages__item-second::after,
  .advantages__item-fourth::after {
    top: 65px;
    left: 24px;
  }

  .advantages__item-third::after {
    top: 65px;
    left: 28px;
  }

  .advantages__description {
    position: absolute;
    left: 0;
  }

  .advantages__description-number {
    display: block;
    position: absolute;
    top: 0;
    left: 113px;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
  }
}


@media (min-width: @desktop-width) {
  .advantages {
    padding: 0 110px;
    border-style: none;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
    margin-bottom: 25px;
  }
}
