.button {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: #68b738;
  color: #ffffff;
  padding: 10px 0;
  box-sizing: border-box;
  text-decoration: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--type-second {
    color: #444444;
    background-color: #f2f2f2;
  }

  &--type-second:hover {
    background-color: #ebebeb;
  }

  &--type-second:active {
    color: rgba(68, 68, 68, 0.3);
  }
}
