.card-show-more {
  border-bottom: 1px solid #ebebeb;
}

.card-show-more__wrapper {
  padding: 25px 20px;
}

.card-show-more__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  margin-bottom: 8px;
}

.card-show-more__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  margin: 0;
  margin-bottom: 21px;
}

.card-show-more__button-plus {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto 23px;
}


@media (min-width: @tablet-width) {
  .card-show-more {
    height: 85%;
    border: 2px solid #f2f2f2;
    align-self: end;
  }

  .card-show-more__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding: 0 35px;
  }

  .card-show-more__button-plus {
    width: 60px;
    height: 60px;
    margin-bottom: 49px;
  }

  .card-show-more__title {
    width: 134px;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 23px;
  }

  .card-show-more__description {
    width: 167px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 87px;
  }

  .card-show-more__button {
    width: 100%;
    margin-bottom: 39px;
  }

  .card-show-more__button-plus-icon {
    width: 60px;
    height: 60px;
  }
}
