.comments {
  margin-bottom: 16px;
  position: relative;

  &::after {
    position: absolute;
    top: 14px;
    left: 50%;
    content: "";
    width: 50%;
    height: 2px;
    background-color: #68b738;
    z-index: -1;
  }
}

.comments__group-title {
  width: 142px;
  margin-bottom: 37px;
  background-color: #ffffff;
}

.comments__input {
  padding: 9px 15px;
  width: calc(100% - 30px);
  min-height: 130px;

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;
  }
}


@media (min-width: @tablet-width) {
  .comments {
    margin-bottom: 60px;

    &::after {
      top: 22px;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
    }
  }

  .comments__group-title {
    padding: 0 40px;
    margin-left: -40px;
    margin-bottom: 74px;
    width: 182px;
  }

  .comments__input {
    padding: 10px 19px;
    min-height: 154px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
