.contacts {
  background-color: #ffffff;

  &--inner-page {
    background-color: #f2f2f2;
  }
}

.contacts__header {
  display: flex;
  padding: 30px 20px 26px;
  width: 280px;
  margin: 0 auto;
}

.contacts__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  width: 139px;
  margin: 0;
}

.contacts__address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 139px;
}

.contacts__map {
  border: none;
  display: block;
  width: 100%;
}


@media (min-width: @tablet-width) {
  .contacts__header {
    width: 628px;
    display: flex;
    justify-content: space-between;
    padding: 58px 70px 58px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 26px;
    width: 172px;
  }

  .contacts__address {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 160px;
  }

  .contacts__address-street {
    display: block;
    margin-bottom: 20px;
  }

  .contacts__address-town {
    display: block;
  }

  .contacts__map {
    height: 400px;
  }
}


@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__header {
    position: absolute;
    top: 50%;
    left: 110px;
    transform: translateY(-50%);
    width: 565px;
    min-height: 198px;
    padding: 54px 70px 60px 80px;
    box-sizing: border-box;
    background-color: #ffffff;
    z-index: 1;
  }

  .contacts__address {
    text-align: left;
  }
}
