.contacts {
  background-color: #ffffff;

  &--inner-page {
    background-color: #f2f2f2;
  }
}


.contacts__header {
  display: flex;
  padding: 26px 20px;
}


.contacts__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  width: 139px;
  margin: 0;
}

.contacts__address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 139px;
}


@media (min-width: @tablet-width) {
  .contacts__header {
    width: calc(100% - 140px);
    display: flex;
    justify-content: space-between;
    padding: 60px 70px 56px;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 26px;
    width: 172px;
  }

  .contacts__address {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 160px;
  }
}


@media (min-width: @desktop-width) {
  .contacts__header {
    width: 565px;
    padding: 60px 70px 56px;
    box-sizing: border-box;
  }

  .contacts__address {
    text-align: left;
  }
}
