.html-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0;
  text-decoration: none;
  color: #444444;

  &:hover .html-academy__logo {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }

  &:active .html-academy__logo {
    fill: #68b738;
  }
}

@media (min-width: @tablet-width) {
  .html-academy {
    width: 165px;
    padding: 0;
  }

  .html-academy__text {
    min-width: 114px;
    margin-right: 22px;
  }
}
