.main-index {
  position: relative;

  &::before {
    position: absolute;
    width: 100%;
    height: 302px;
    content: "";
    background: url("../../img/background-cat.jpg") no-repeat center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background-cat@2x.jpg");
    }
  }

  &::after {
    position: absolute;
    top: 0;
    background-color: rgba(104, 183, 56, 0.85);
    width: 100%;
    height: 302px;
    content: "";
    z-index: 1;
  }
}

.main-index__top {
  width: 320px;
  margin: 0 auto;
}

.main-index__title {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  width: 250px;
  padding-top: 27px;
  margin: 0 auto 25px;
  z-index: 2;
}


.main-index__title-description {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 29px;
  z-index: 2;
}


.main-index__image {
  position: relative;
  display: block;
  left: 20px;
  z-index: 2;
  margin-bottom: 3px;
}

.main-index__form-button {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: #68b738;
  color: #ffffff;
  box-sizing: border-box;
  text-decoration: none;
  padding: 10px 0;
  width: calc(100% - 40px);
  margin: 0 auto 20px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}


@media (min-width: @tablet-width) {
  .main-index::before {
    display: none;
  }

  .main-index::after {
    display: none;
  }

  .main-index__top {
    position: relative;
    width: 768px;
  }

  .main-index__title {
    width: 416px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin-left: 118px;
    margin-bottom: 41px;
    padding: 0;
    text-align: left;
  }

  .main-index__title-description {
    width: 285px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 20px;
    margin-left: 118px;
    text-align: left;
  }

  .main-index__image {
    width: 708px;
    left: 28px;
    height: 608px;
  }

  .main-index__form-button {
    position: absolute;
    top: 230px;
    left: 30px;
    width: 244px;
    min-height: 54px;
    margin: 0 0 0 90px;
    z-index: 3;
    font-size: 20px;
    line-height: 20px;
    padding: 15px 0;
  }
}


@media (min-width: @desktop-width) {
  .main-index__top {
    width: 1220px;
  }

  .main-index__title {
    margin-left: 90px;
  }

  .main-index__title-description {
    margin-left: 90px;
    margin-bottom: 52px;
  }

  .main-index__form-button {
    position: relative;
    top: -2px;
    left: 0;
    margin-bottom: 267px;
  }

  .main-index__image {
    position: absolute;
    top: -80px;
    left: 37%;
    width: 552px;
    height: auto;
  }
}
