.main-index {
  position: relative;

  &::before {
    position: absolute;
    width: 320px;
    height: 302px;
    content: "";
    background: url("../../img/background-cat.jpg") no-repeat;
  }

  &::after {
    position: absolute;
    top: 0;
    background-color: rgba(104, 183, 56, 0.85);
    width: 320px;
    height: 302px;
    content: "";
    z-index: 1;
  }
}

.main-index__title {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;
  z-index: 2;
}


.main-index__title-description {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 29px;
  z-index: 2;
}


.main-index__image {
  position: relative;
  z-index: 2;
}

.main-index__form-button {
  width: 100%;
  margin: 0 auto 20px;
}


@media (min-width: @tablet-width) {
  .main-index::before {
    display: none;
  }

  .main-index::after {
    display: none;
  }

  .main-index__title {
    width: 416px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin-left: 87px;
    margin-bottom: 41px;
    text-align: left;
  }

  .main-index__title-description {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 87px;
  }

  .main-index__form-button {
    position: absolute;
    top: 220px;
    width: 244px;
    margin: 0 0 0 90px;
    z-index: 3;
  }
}


@media (min-width: @desktop-width) {
  .main-index__title {
    margin-left: 190px;
  }

  .main-index__title-description {
    margin-left: 190px;
    margin-bottom: 52px;
  }

  .main-index__form-button {
    position: relative;
    top: 0;
    margin-left: 190px;
    margin-bottom: 267px;
  }

  .main-index__image {
    position: absolute;
    top: -70px;
    left: 40%;
  }
}
