.personal {
  margin-bottom: 24px;
}


.personal__title {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}


@media (min-width: @tablet-width) {
  .personal {
    margin-bottom: 72px;
  }

  .personal__title {
    font-size: 20px;
    line-height: 30px;
  }
}
