.services__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.services__item {
  width: 280px;
  background-color: #f2f2f2;
  margin: 0 auto 20px;
  padding: 21px 33px 22px 20px;
  box-sizing: border-box;
}


.services__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}


.services__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}


@media (min-width: @tablet-width) {
  .services {
    padding: 0 30px;
  }

  .services__item {
    width: 100%;
  }

  .services__title {
    font-size: 36px;
    line-height: 36px;
  }

  .services__description {
    width: 340px;
    font-size: 16px;
    line-height: 24px;
  }

  .services__button {
    font-size: 20px;
    line-height: 30px;
  }
}


@media (min-width: @desktop-width) {
  .services {
    padding: 0 110px;
  }

  .services__list {
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
    margin-bottom: 71px;
  }
}
