.site-list {
  min-width: 320px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  &:first-child {
    border-top: 1px solid #e6e6e6;
  }

  &:last-child .site-list__link {
    border-style: none;
  }
}

.site-list__link {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 22px;
  padding-bottom: 24px;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 42px;
    margin-bottom: 74px;
  }

  .site-list__item:not(:nth-child(3)) {
    margin-right: 34px;
    border-style: none;
  }

  .site-list__link {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    padding: 0;
    border-style: none;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &--active::after {
      position: absolute;
      bottom: -9px;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #68b738;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    margin: 69px 0 0 220px;
  }

  .site-list__link {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    background-color: transparent;

    &--index::after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: #ffffff;
    }
  }
}
