.weight-gain__title {
  position: relative;
  margin-left: 71px;

  &::after {
    content: "";
    position: absolute;
    top: -8px;
    left: -77px;
    width: 67px;
    height: 50px;
    background: url("../img/cat-weight-gain.svg") no-repeat;
  }
}


@media (min-width: @tablet-width) {
  .weight-gain__title {
    margin-left: 0;

    &::after {
      content: "";
      position: absolute;
      top: 14px;
      left: calc(100% - 245px);
      width: 268px;
      height: 200px;
      background-size: contain;
    }
  }
}


@media (min-width: @desktop-width) {
  .weight-gain__title {
    margin-left: 162px;

    &::after {
      content: "";
      position: absolute;
      top: -32px;
      left: -180px;
      width: 134px;
      height: 100px;
      background-size: contain;
    }
  }
}
