.weight-loss__title {
  position: relative;
  margin-left: 71px;
  &::after {
    content: "";
    position: absolute;
    left: -70px;
    width: 50px;
    height: 53px;
    background: url(../../img/cat-weight-loss.svg) no-repeat;
  }
}
