@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page__body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
  color: #444444;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page__body {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .page__body {
    width: 1440px;
  }
}
.main-header {
  min-height: 65px;
}
.main-header__logo {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e6e6e6;
}
.main-header__logo-image {
  margin-right: 56px;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .main-header {
    display: flex;
    padding: 0 30px;
  }
  .main-header__logo {
    display: block;
    margin-right: 93px;
    margin-top: 24px;
    border-style: none;
    padding: 0;
  }
  .main-header__logo-text {
    display: none;
  }
}
@media (min-width: 1440px) {
  .main-header {
    padding: 0 0 0 110px;
    align-items: flex-start;
  }
  .main-header__logo {
    margin-top: 53px;
    margin-bottom: 111px;
  }
}
.main-nav {
  position: absolute;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  min-height: 198px;
}
.main-nav__toggle {
  position: absolute;
  top: -45px;
  right: -300px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 18px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav__list {
  position: absolute;
  z-index: 3;
}
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--nojs {
    position: static;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-nav {
    position: relative;
    width: 440px;
    margin-left: auto;
  }
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1440px) {
  .main-nav {
    position: relative;
    width: 720px;
    color: #ffffff;
  }
  .main-nav::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 694px;
    background-color: rgba(104, 183, 56, 0.85);
    z-index: -1;
  }
  .main-nav::after {
    position: absolute;
    content: "";
    top: 0;
    background: url("../../img/background-cat-desktop.jpg") no-repeat;
    background-size: contain;
    width: 100%;
    height: 694px;
    z-index: -2;
  }
  .main-nav--inner::before {
    display: none;
  }
  .main-nav--inner::after {
    display: none;
  }
  .main-nav--inner .main-nav-inner-link {
    color: #000000;
  }
}
.site-list {
  min-width: 320px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-list__link {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 22px;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    margin-top: 42px;
    margin-bottom: 74px;
  }
  .site-list__item:not(:nth-child(3)) {
    margin-right: 34px;
  }
  .site-list__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    padding: 0;
    border-style: none;
  }
}
@media (min-width: 1440px) {
  .site-list {
    margin: 69px 110px 0 130px;
  }
  .site-list__link {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    background-color: transparent;
  }
}
.main-index {
  position: relative;
}
.main-index::before {
  position: absolute;
  width: 320px;
  height: 302px;
  content: "";
  background: url("../../img/background-cat.jpg") no-repeat;
}
.main-index::after {
  position: absolute;
  top: 0;
  background-color: rgba(104, 183, 56, 0.85);
  width: 320px;
  height: 302px;
  content: "";
  z-index: 1;
}
.main-index__title {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;
  z-index: 2;
}
.main-index__title-description {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 29px;
  z-index: 2;
}
.main-index__image {
  position: relative;
  z-index: 2;
}
.main-index__form-button {
  width: 100%;
  margin: 0 auto 20px;
}
@media (min-width: 768px) {
  .main-index::before {
    display: none;
  }
  .main-index::after {
    display: none;
  }
  .main-index__title {
    width: 416px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin-left: 87px;
    margin-bottom: 41px;
    text-align: left;
  }
  .main-index__title-description {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 87px;
  }
  .main-index__form-button {
    position: absolute;
    top: 220px;
    width: 244px;
    margin: 0 0 0 90px;
    z-index: 3;
  }
}
@media (min-width: 1440px) {
  .main-index__title {
    margin-left: 190px;
  }
  .main-index__title-description {
    margin-left: 190px;
    margin-bottom: 52px;
  }
  .main-index__form-button {
    position: relative;
    top: 0;
    margin-left: 190px;
    margin-bottom: 267px;
  }
  .main-index__image {
    position: absolute;
    top: -70px;
    left: 40%;
  }
}
.button {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: #68b738;
  color: #ffffff;
  padding: 10px 44px;
  box-sizing: border-box;
  text-decoration: none;
}
.button--type-second {
  color: #444444;
  background-color: #f2f2f2;
}
.services__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.services__item {
  width: 280px;
  background-color: #f2f2f2;
  margin: 0 auto 20px;
  padding: 30px 20px 22px;
  box-sizing: border-box;
}
.services__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}
.services__description {
  margin: 0;
  margin-bottom: 19px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
}
.services__button {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .services {
    padding: 0 30px;
  }
  .services__item {
    width: 100%;
    padding: 77px 52px 57px;
  }
  .services__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }
  .services__description {
    width: 340px;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin-bottom: 52px;
    border-style: none;
  }
  .services__button {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .services {
    padding: 0 110px;
  }
  .services__list {
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
    margin-bottom: 71px;
  }
  .services__title {
    margin-bottom: 73px;
  }
  .services__description {
    margin-bottom: 27px;
  }
}
.weight-gain__title {
  position: relative;
  margin-left: 71px;
}
.weight-gain__title::after {
  content: "";
  position: absolute;
  left: -70px;
  width: 67px;
  height: 50px;
  background: url("../../img/cat-weight-gain.svg") no-repeat;
}
.weight-loss__title {
  position: relative;
  margin-left: 71px;
}
.weight-loss__title::after {
  content: "";
  position: absolute;
  left: -70px;
  width: 50px;
  height: 53px;
  background: url("../../img/cat-weight-loss.svg") no-repeat;
}
.advantages {
  padding: 0 20px 53px;
}
.advantages__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.advantages__item {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  padding-left: 80px;
  margin-bottom: 26px;
}
.advantages__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
}
.advantages__description-number {
  display: none;
}
@media (min-width: 768px) {
  .advantages {
    padding: 0 30px 47px;
    border-bottom: 1px solid #e6e6e6;
  }
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
  .advantages__list {
    display: grid;
    grid-template-columns: 250px 250px;
    gap: 37px 150px;
  }
  .advantages__item {
    font-size: 16px;
    line-height: 24px;
    min-height: 280px;
    padding-top: 151px;
    margin: 0;
    box-sizing: border-box;
  }
  .advantages__item::before {
    top: 40px;
    width: 80px;
    height: 80px;
  }
  .advantages__description {
    position: absolute;
    left: 0;
  }
  .advantages__description-number {
    display: block;
    position: absolute;
    top: 0;
    left: 113px;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .advantages {
    padding: 0 110px;
  }
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
    margin-bottom: 69px;
  }
}
.example {
  background-color: #eaeaea;
  padding: 25px 0 40px;
}
.example__wrapper {
  width: 280px;
  margin: 0 auto;
}
.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}
.example__description {
  margin: 0;
  margin-bottom: 20px;
}
.example__statistic {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.example__statistic-item {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 34px;
}
.example__statistic-term {
  position: absolute;
  bottom: -14px;
  width: 87px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 0;
  background-color: #eaeaea;
  z-index: 2;
}
.example__statistic-definition {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-top: 14px;
  min-width: 124px;
  min-height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  box-sizing: border-box;
}
.example__description-second {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example {
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 50%, #eaeaea 50%, #eaeaea 100%);
    padding: 43px 0 62px;
  }
  .example__wrapper {
    position: relative;
    width: calc(100% - 60px);
    padding: 0 30px;
    margin: 0;
  }
  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 63px;
  }
  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }
  .example__statistic {
    justify-content: flex-start;
  }
  .example__statistic-item {
    margin-right: 42px;
    margin-bottom: 85px;
  }
  .example__statistic-term {
    bottom: -15px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }
  .example__statistic-definition {
    min-width: 162px;
    padding: 15px 0 20px;
    font-size: 30px;
    line-height: 37px;
  }
  .example__description-second {
    position: absolute;
    right: 30px;
    top: 270px;
    width: 174px;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-left: auto;
    margin-bottom: 97px;
  }
}
@media (min-width: 1440px) {
  .example {
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 20%, #f2f2f2 20%, #f2f2f2 100%);
  }
  .example__wrapper {
    width: calc(100% - 220px);
    padding: 0 110px;
    margin: 0;
  }
  .example__title {
    margin-bottom: 146px;
  }
  .example__description {
    width: 436px;
    margin-bottom: 69px;
  }
  .example__statistic-term {
    background-color: #f2f2f2;
  }
  .example__description-second {
    position: static;
    width: 270px;
    margin: 0;
    text-align: center;
  }
}
.comparison-slider__button {
  width: 49px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding: 0;
  text-transform: uppercase;
  border-style: none;
}
.comparison-slider__range {
  background-color: #ffffff;
  width: 86px;
  height: 14px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 6px;
}
.main-footer-bottom {
  background-color: #f2f2f2;
  padding: 40px 20px 0;
}
.main-footer-bottom__logo-text {
  display: block;
  width: 100%;
  padding-bottom: 32px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .main-footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 147px;
    align-items: center;
  }
  .main-footer-bottom__logo-text {
    width: 128px;
    border-style: none;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .main-footer-bottom {
    padding: 0 110px;
  }
}
.contacts {
  background-color: #ffffff;
}
.contacts--inner-page {
  background-color: #f2f2f2;
}
.contacts__header {
  display: flex;
  padding: 26px 20px;
}
.contacts__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  width: 139px;
  margin: 0;
}
.contacts__address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 139px;
}
.contacts__map {
  border: none;
  display: block;
}
@media (min-width: 768px) {
  .contacts__header {
    width: calc(100% - 140px);
    display: flex;
    justify-content: space-between;
    padding: 60px 70px 56px;
  }
  .contacts__title {
    font-size: 20px;
    line-height: 26px;
    width: 172px;
  }
  .contacts__address {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 160px;
  }
}
@media (min-width: 1440px) {
  .contacts__header {
    width: 565px;
    padding: 60px 70px 56px;
    box-sizing: border-box;
  }
  .contacts__address {
    text-align: left;
  }
}
.socials {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}
.socials__list {
  margin: 0 auto;
  padding: 20px 0 14px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 132px;
}
@media (min-width: 768px) {
  .socials {
    border-style: none;
    padding: 0;
  }
}
.html-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}
@media (min-width: 768px) {
  .html-academy {
    width: 165px;
    padding: 0;
  }
  .html-academy__text {
    min-width: 114px;
    margin-right: 22px;
  }
}
.form-page__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 27px 0 37px 20px;
}
.form-page__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 39px;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .form-page__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 54px 70px;
  }
  .form-page__description {
    font-size: 20px;
    line-height: 30px;
    margin-left: 70px;
    margin-bottom: 66px;
  }
}
@media (min-width: 1440px) {
  .form-page__title {
    margin-left: 110px;
    margin-bottom: 56px;
  }
  .form-page__description {
    margin-left: 110px;
  }
}
.application__wrapper {
  margin: 0 20px;
}
.application__group {
  margin: 0;
  padding: 0;
  border-style: none;
}
.application__group-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  padding: 0;
}
.application__bottom {
  padding: 0 20px;
}
.application__button {
  width: 100%;
  border-style: none;
  margin-bottom: 21px;
}
.application__clarification {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .application__wrapper {
    margin: 0 70px;
  }
  .application__group-title {
    font-size: 36px;
    line-height: 36px;
  }
  .application__bottom {
    display: flex;
    margin-bottom: 72px;
    padding: 0 70px;
  }
  .application__button {
    width: 282px;
    min-height: 52px;
    margin: 0;
    margin-right: 61px;
  }
}
@media (min-width: 1440px) {
  .application__wrapper {
    margin: 0 110px;
  }
  .application__top {
    display: flex;
    margin-bottom: 69px;
  }
  .application__bottom {
    display: flex;
    margin-bottom: 72px;
  }
  .application__button {
    min-width: 568px;
    margin-right: 81px;
  }
}
.personal {
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
}
.personal__group {
  display: flex;
  align-items: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 14px;
}
.personal__title {
  display: block;
  margin-right: 12px;
}
.personal__input {
  min-height: 45px;
  width: calc(100% - 10px);
  padding: 0 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .personal {
    padding: 0;
    margin-bottom: 72px;
    border-style: none;
  }
  .personal__group {
    font-size: 20px;
    line-height: 30px;
  }
  .personal__input {
    min-height: 52px;
    font-size: 20px;
    line-height: 30px;
    padding: 0 18px;
  }
}
@media (min-width: 1440px) {
  .personal {
    width: 50%;
    margin: 0;
    margin-right: 80px;
  }
  .personal__wrapper {
    margin-right: 0;
  }
}
.program {
  padding-top: 28px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 24px;
}
.program__control {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .program {
    padding: 0;
    margin-bottom: 75px;
    border-style: none;
  }
  .program__wrapper {
    padding: 30px 88px 7px;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
  }
  .program__control {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 23px;
  }
}
@media (min-width: 1440px) {
  .program {
    width: calc(50% - 80px);
    margin: 0;
  }
  .program__wrapper {
    margin-left: 0;
  }
}
.contacts-details {
  margin-bottom: 24px;
}
.contacts-details__group-title {
  position: relative;
  width: 200px;
  margin-bottom: 36px;
  margin-left: 20px;
}
.contacts-details__group-title::after {
  position: absolute;
  top: 14px;
  left: 100%;
  content: "";
  width: 99px;
  height: 2px;
  background-color: #68b738;
}
.contacts-details__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.contacts-details__item {
  position: relative;
}
.contacts-details__group {
  display: flex;
  align-items: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 14px;
}
.contacts-details__title {
  display: block;
  margin-right: 12px;
}
.contacts-details__input {
  min-height: 45px;
  width: calc(100% - 10px);
  padding: 0 40px 0 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #cdcdcd;
}
.contacts-details__icon {
  position: absolute;
  right: 18px;
  top: 16px;
}
@media (min-width: 768px) {
  .contacts-details {
    margin-bottom: 65px;
  }
  .contacts-details__group-title {
    padding-left: 70px;
    margin-left: 0;
    width: 550px;
  }
  .contacts-details__group-title::after {
    top: 20px;
    left: 100%;
    content: "";
    width: 145px;
    height: 2px;
  }
  .contacts-details__group-title::before {
    position: absolute;
    top: 20px;
    left: 0;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #68b738;
  }
  .contacts-details__group {
    font-size: 20px;
    line-height: 30px;
  }
  .contacts-details__input {
    min-height: 52px;
    padding: 0 50px 0 18px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .contacts-details__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 78px;
  }
  .contacts-details__group-title {
    padding-left: 110px;
    margin-left: 0;
    width: 550px;
  }
  .contacts-details__group-title::after {
    top: 20px;
    left: 100%;
    content: "";
    width: 778px;
  }
  .contacts-details__group-title::before {
    position: absolute;
    top: 20px;
    left: 0;
    content: "";
    width: 70px;
  }
}
.comments {
  margin-bottom: 22px;
}
.comments__group-title {
  position: relative;
  width: 142px;
  margin-left: 20px;
  margin-bottom: 37px;
}
.comments__group-title::after {
  position: absolute;
  top: 14px;
  left: 100%;
  content: "";
  width: 158px;
  height: 2px;
  background-color: #68b738;
}
.comments__input {
  padding: 9px 15px;
  width: calc(100% - 30px);
  min-height: 150px;
}
.comments__input::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  .comments {
    margin-bottom: 65px;
  }
  .comments__group-title {
    padding-left: 70px;
    margin-left: 0;
    width: 218px;
  }
  .comments__group-title::after {
    top: 20px;
    left: 100%;
    content: "";
    width: 478px;
    height: 2px;
  }
  .comments__group-title::before {
    position: absolute;
    top: 20px;
    left: 0;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #68b738;
  }
  .comments__input {
    padding: 10px 19px;
    min-height: 174px;
  }
  .comments__input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .comments__group-title {
    padding-left: 110px;
    margin-left: 0;
    width: 218px;
  }
  .comments__group-title::after {
    top: 20px;
    left: 100%;
    content: "";
    width: 1110px;
  }
  .comments__group-title::before {
    position: absolute;
    top: 20px;
    left: 0;
    content: "";
    width: 70px;
  }
}
.additionally {
  margin-bottom: 34px;
}
.additionally__group-title {
  position: relative;
  width: 160px;
  margin-left: 20px;
  margin-bottom: 39px;
}
.additionally__group-title::after {
  position: absolute;
  top: 14px;
  left: 100%;
  content: "";
  width: 136px;
  height: 2px;
  background-color: #68b738;
}
.additionally__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.additionally__control {
  display: block;
  margin-bottom: 24px;
}
.additionally__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .additionally {
    margin-bottom: 54px;
  }
  .additionally__group-title {
    padding-left: 70px;
    margin-left: 0;
    width: 250px;
  }
  .additionally__group-title::after {
    top: 20px;
    left: 100%;
    content: "";
    width: 446px;
    height: 2px;
  }
  .additionally__group-title::before {
    position: absolute;
    top: 20px;
    left: 0;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #68b738;
  }
  .additionally__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .additionally__label {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .additionally {
    margin-bottom: 61px;
  }
  .additionally__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .additionally__group-title {
    padding-left: 110px;
    margin-left: 0;
    width: 250px;
  }
  .additionally__group-title::after {
    top: 20px;
    left: 100%;
    content: "";
    width: 1078px;
  }
  .additionally__group-title::before {
    position: absolute;
    top: 20px;
    left: 0;
    content: "";
    width: 70px;
  }
}
.catalog-page__title {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding: 27px 20px 40px;
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .catalog-page {
    padding: 0 30px;
  }
  .catalog-page__title {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    margin-bottom: 82px;
    border-style: none;
  }
}
@media (min-width: 1440px) {
  .catalog-page {
    padding: 0 110px;
  }
  .catalog-page__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-bottom: 68px;
  }
}
@media (min-width: 1440px) {
  .product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 62px 80px;
    margin-bottom: 75px;
  }
}
.product-card {
  padding: 19px 0 25px 0;
  border-bottom: 1px solid #ebebeb;
}
.product-card__wrapper {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: min-content 1fr min-content;
}
.product-card__image {
  grid-area: 1 / 1 / 3 / 2;
  align-self: center;
  justify-self: center;
}
.product-card__title {
  grid-area: 1 / 2 / 2 / 3;
  width: 76px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 14px;
}
.product-card__list {
  grid-area: 2 / 2 / 3 / -1;
}
.product-card__button {
  grid-area: 3 / 1 / -1 / -1;
}
@media (min-width: 768px) {
  .product-card {
    min-height: 511px;
    padding: 0;
    border-style: none;
    background-color: #f2f2f2;
  }
  .product-card__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    padding: 0 37px;
  }
  .product-card__image {
    margin-bottom: 34px;
  }
  .product-card__title {
    align-self: center;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 140px;
    margin-bottom: 21px;
  }
  .product-card__button {
    margin-bottom: 39px;
  }
}
.card-show-more {
  border-bottom: 1px solid #ebebeb;
}
.card-show-more__wrapper {
  padding: 25px 20px;
}
.card-show-more__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  margin-bottom: 8px;
}
.card-show-more__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  margin: 0;
  margin-bottom: 21px;
}
.card-show-more__button-plus {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto 23px;
}
@media (min-width: 768px) {
  .card-show-more {
    min-height: 507px;
    border: 2px solid #f2f2f2;
  }
  .card-show-more__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 100%;
    padding: 0 35px;
  }
  .card-show-more__title {
    width: 134px;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 23px;
  }
  .card-show-more__description {
    width: 167px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 87px;
  }
  .card-show-more__button {
    width: 100%;
    margin-bottom: 39px;
  }
}
.features {
  font-size: 12px;
  line-height: 16px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
}
.features__item {
  display: flex;
  justify-content: space-between;
}
.features__term {
  margin: 0;
}
.features__value {
  margin: 0;
}
@media (min-width: 768px) {
  .features {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 33px;
  }
  .features__item {
    padding-bottom: 9px;
    margin-bottom: 7px;
    border-bottom: 1px solid #cdcdcd;
  }
}
.additional-products__wrapper {
  padding: 0 20px;
}
.additional-products__title {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  padding: 25px 0 36px 0;
  margin: 0 20px 0 20px;
  border-bottom: 1px solid #cdcdcd;
}
.additional-products__title::after {
  position: absolute;
  top: 38px;
  right: -20px;
  content: "";
  width: 53px;
  height: 2px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .additional-products {
    margin-bottom: 69px;
  }
  .additional-products__title {
    width: 340px;
    font-size: 36px;
    line-height: 36px;
    padding: 0 36px;
    margin: 0 0 80px 0;
    border-style: none;
  }
  .additional-products__title::after {
    top: 22px;
    left: 100%;
    width: 328px;
  }
  .additional-products__title::before {
    position: absolute;
    top: 22px;
    right: 100%;
    content: "";
    height: 2px;
    width: 30px;
    background-color: #68b738;
  }
  .additional-products__wrapper {
    padding: 0;
    border: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .additional-products {
    width: 896px;
    margin-right: 80px;
  }
  .additional-products__title {
    padding: 0;
    padding-right: 35px;
  }
  .additional-products__title::after {
    width: 950px;
    left: 100%;
  }
  .additional-products__title::before {
    width: 70px;
    right: calc(100% + 30px);
  }
  .additional-products__wrapper {
    border-style: none;
    border-top: 1px solid #cdcdcd;
  }
}
.additional-products-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.additional-products-card {
  border-bottom: 1px solid #cdcdcd;
  padding: 13px 0 19px 0;
}
.additional-products-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .additional-products-card {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: 1fr 1fr;
    padding: 26px 0 28px 0;
  }
  .additional-products-card__title {
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 38px;
  }
  .additional-products-card__button {
    grid-area: 2 / 1 / -1 / -1;
    margin: 0 38px 0;
  }
}
@media (min-width: 1440px) {
  .additional-products-card {
    display: grid;
    grid-template-columns: 1fr 250px 244px;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 14px 0 16px 0;
  }
  .additional-products-card__title {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    margin: 0;
  }
  .additional-products-card__list {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
  }
  .additional-products-card__button {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
    margin: 0;
  }
}
.additional-products-features {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 15px;
}
.additional-products-features__term {
  margin: 0;
}
.additional-products-features__value {
  margin: 0;
}
@media (min-width: 768px) {
  .additional-products-features {
    justify-content: flex-end;
    margin-right: 38px;
  }
  .additional-products-features__term {
    margin-right: 50px;
  }
}
@media (min-width: 1440px) {
  .additional-products-features {
    justify-content: space-between;
    margin-bottom: 0;
  }
}
.bounty {
  position: relative;
  padding: 0 20px;
  width: 100%;
  min-height: 290px;
  background: url("../../img/bounty-bg-image.jpg") no-repeat 20px;
  box-sizing: border-box;
  margin-bottom: 35px;
}
.bounty::after {
  position: absolute;
  content: "";
  width: calc(100% - 40px);
  height: 100%;
  background-color: rgba(104, 183, 56, 0.85);
  z-index: 1;
}
.bounty__title {
  position: absolute;
  left: 78px;
  top: 65%;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  width: 161px;
  margin: 0;
  z-index: 2;
}
@media (min-width: 768px) {
  .bounty {
    padding: 0;
    background-size: cover;
    background-position: 0;
    margin-bottom: 76px;
  }
  .bounty::after {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .bounty {
    width: 245px;
    background-size: auto;
    margin: 0;
    margin-top: 40px;
  }
  .bounty::after {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */
